- hash = @player.params[:searchable] ? {itemprop: 'video', itemscope: true, itemtype: 'http://schema.org/VideoObject'} : {}
.video-overlay{ hash, id: @player.block_id }
  .ooyala-wrapper
    %button.btn.btn-info.close-button.uppercase
      = t('close')
      &ensp;
      = fa_icon 'close'
    -if @player.params[:searchable]
      -@player.meta.each do |key, value|
        %meta{ itemprop: key, content: value }
      %meta{ itemprop: 'embedURL', content: @player.video.unsigned_embed_code_url }
      %meta{ itemprop: 'name', content: @player.video.meta_name }
      %meta{ itemprop: 'description', content: @player.video.meta_description }
      %meta{ itemprop: 'uploadDate', content: @player.video.meta_uploaded_date }
      %meta{ itemprop: 'thumbnailUrl', content: @player.video.meta_thumbnail }
      %meta{ itemprop: 'duration', content: @player.video.meta_duration }
    %object
      .js-ooyalaplayer-block.ooyalaplayer-block
        = handler @player

