- hash = @player.params[:searchable] ? {itemprop: 'video', itemscope: true, itemtype: 'http://schema.org/VideoObject'} : {}
.video-overlay{ hash, id: @player.block_id }<
  .ooyala-wrapper<
    %button.btn.btn-info.close-button.uppercase<
      = t('close')
      &ensp;
      = 'x'
    = handler(@player)
