.video-overlay{id: @player.block_id}
  .ooyala-wrapper
    %button.btn.btn-info.close-button.uppercase
      = t('videos.actions.close')
      &ensp;
      = fa_icon 'close'
    .js-ooyalaplayer-block.ooyalaplayer-block
      = handler @player
